@(content: Html)

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>7digital Bootstrap</title>

    <link href="@routes.Assets.at("stylesheets/screen/7digital.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheetss/screen/override.css")" rel="stylesheet")">

    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("graphics/favicons/7digital/favicon.ico")"/>


    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!--[if lte IE 7]>
    <script>window.location.replace( "http://alternativebrowseralliance.com/" );</script>
    <![endif]-->

    <!--[if IE 9]>
    <link href="styles/browser/ie.9.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 8]>
    <link href="styles/browser/ie.8.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 7]>
    <link href="styles/browser/ie.7.css" rel="stylesheet">
    <![endif]-->

</head>
<body>
<div id="c">

    <!-- Header -->

    <header id="header-container">
    	<ul id="header-tools-container">
		<li id="header-tools-search-container">
			<form method="get" action="/search">
				<label id="header-tools-search-label">
					<input id="header-tools-search-input" type="search" name="term" />
				</label>
				<button id="header-tools-search-button" class="cta" type="submit"> Search </button>
			</form>
		</li>
	</ul>
        <nav id="header-navigation">
            <ul class="floated-list header-navigation-constraint" id="site-nav" role="navigation">
                <li id="header-navigation-left-watermark"></li>
                <li id="skip" class="header-navigation-item-hidden">
                    <a id="header-skip-link" class="header-navigation-link" href="#page">Skip to main content</a>
                </li>
                <li>
                    <a id="header-home-link" href="/">Home</a>
                </li>

                <!-- Add some navigation buttons here if you like -->
                <!-- See 7digital Bootstrapper Notes: Top Navigation > Navigation Buttons -->

                <li class="bootstrap-header-navigation-button-simple">
                    <a href="@routes.Application.index()">Track Chart</a>
                </li>
               
            </ul>
        </nav>
    </header>

    <!-- Page Body -->

    <div id="page" role="main">

        <!-- Add all your main body content here -->
        <!-- Any simple markup should be fine -->
        <!-- For template solutions, see 7digital Bootstrapper Notes: Body Content -->
        @content


    </div>

</div><!-- close c -->

<!-- Footer -->

<div id="footer">
    <div id="footer-constraint">

    </div><!-- close footer-constraint -->
</div><!-- close footer -->

<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
<script src="@routes.Assets.at("javascript/jqueryui.js")"></script>
<script src="@routes.Assets.at("javascript/7digital.js")"></script>

</body>
</html>
